<%- include("../layouts/head")%>

<div class="container my-5">
    <div class="content">
        <h2 class="text-center">Đăng kí tài khoản</h2>
      <form action="/register" method="post" class="registration-form">
        <div class="mb-3">
          <label for="firstName" class="form-label">firstName</label>
          <input type="text" class="form-control" id="firstName" name="firstName" required>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">lastName</label>
          <input type="text" class="form-control" id="lastName" name="lastName" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
        <button type="submit" class="btn btn-primary d-flex justify-content-center m-auto">Register</button>
      </form>
    </div>
  </div>

<%- include("../layouts/footer")%>
